::selection {
  color: #000000;
  background: #00ff00;
  border-radius: 4px;
}
a {
  transition: all 0.4s;
}
.lightbox {
  z-index: 1100;
}
#list-links .list-group-item.active {
  color: #00ff00 !important;
  background-color: transparent;
  border-color: initial;
}
#list-links .list-group-item.active path {
  fill: #00ff00;
}
#list-links .list-group-item:not(:first-child):hover {
  padding-left: 1.5rem;
}
#list-links .list-group-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  width: 0%;
  height: 1px;
  background-color: #00ff00;
  transition: all 1s;
}
#list-links .list-group-item:not(.active):hover::before {
  width: 100%;
}
/* #description a[href*="description"] {
  color: #00ff00;
}
#secure a[href*="secure"] {
  color: #00ff00;
}
#features a[href*="features"] {
  color: #00ff00;
}
#features a[href*="features"] {
  color: #00ff00;
}
#screenshot a[href*="screenshot"] {
  color: #00ff00;
}
#faqs a[href*="faqs"] {
  color: #00ff00;
} */

@media screen and (max-width: 1200px) {
  #cookiescript_badge {
    display: none !important;
  }
  .list-group-flush {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #222;
  }
  .list-group-flush > .list-group-item {
    width: 14%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    text-align: center;
    height: 60px;
    border: none;
    border-top: solid 1px #555;
    padding-top: 1.2rem;
  }
  .list-group-flush > .list-group-item::first-letter {
    font-size: 1.5rem;
    line-height: 1rem;
  }
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
  transition: all 0.25s;
  margin-top: 0;
  opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  margin-top: 1rem;
  opacity: 0;
}

html.is-changing .nav-select {
  transition: all 1.5s;
  padding-left: 1rem;
  opacity: 1;
}
html.is-animating .nav-select {
  padding-left: 1.5rem;
  opacity: 0;
}
