::selection {
  color: #000000;
  background: #00ff00;
  border-radius: 4px;
}
a {
  transition: all 0.4s;
}
.lightbox {
  z-index: 1100;
}
#list-links .list-group-item.active {
  color: #00ff00 !important;
  background-color: transparent;
  border-color: initial;
}
#list-links .list-group-item.active path {
  fill: #00ff00;
}
